@charset "UTF-8";
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.product {
  position: relative;
  height: 90%;
  width: 90%;
  max-width: 1300px;
  background: white;
  border-radius: 3rem;
}
@media all and (min-width: 1025px) {
  .product {
    color: #f3e9f1;
    display: flex;
    justify-content: center;
  }
}
.product__wallpaper {
  height: 65%;
  width: 100%;
  border-radius: 1rem;
}
@media all and (min-width: 1025px) {
  .product__wallpaper {
    height: unset;
    border-radius: 3rem 0rem 0rem 3rem;
  }
}
.product__description {
  margin: 0 5%;
}
@media all and (min-width: 1025px) {
  .product__description {
    height: 20%;
    margin-bottom: 6rem;
  }
}
.product__description__name {
  text-align: center;
  margin-bottom: 1rem;
}
.product__description__content {
  text-align: center;
}
.product__customer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5%;
  width: 100%;
}
@media all and (min-width: 1025px) {
  .product__customer {
    height: 10%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem 5%;
  }
}
.product__customer__color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__customer__color__choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  min-height: 19px;
}
.product__customer__quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__customer__quantity__choice {
  height: 1rem;
  min-height: 19px;
}
.product__add-cart {
  border: 2px solid #8e5afc;
  background: #8e5afc;
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
}
@media all and (min-width: 1025px) {
  .product__add-cart {
    background: linear-gradient(to top, #f3e9f1 -40%, #8e5afc 50%, #f3e9f1 126%);
    height: 10%;
    border-radius: unset;
    border: unset;
  }
}
.product__add-cart__price {
  color: #f3e9f1;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 5%;
}
.product__add-cart__button {
  cursor: pointer;
  background: #f3e9f1;
  width: 40%;
  height: 50%;
  border-radius: 0.5rem;
  margin-right: 5%;
  border: 1px solid #f3e9f1;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: none;
  color: black;
  text-shadow: 0px 1px 0px #f3e9f1;
  text-align: center;
}
.product__add-cart__button:hover {
  background-color: #d38e56;
}
.product__add-cart__button:active {
  position: relative;
  top: 1px;
}

.container--rounded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 60%;
  background-color: #f3e9f1;
  border-radius: 1rem 1rem 2rem 2rem;
  height: 40%;
  width: 100%;
}
@media all and (min-width: 1025px) {
  .container--rounded {
    border-radius: 0rem 3rem 3rem 0rem;
    border: 1.5px solid #8e5afc;
    position: relative;
    top: unset;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #d38e56;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238e5afc'/%3E%3Cstop offset='1' stop-color='%23d17e3c'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23f3e9f1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f3e9f1' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
}

.order-container {
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-container__title {
  margin-bottom: 2rem;
}
.order-container__introduction {
  margin-bottom: 1rem;
}
.order-container__message {
  margin-bottom: 0.5rem;
}
.order-container__container__order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-container__container__order-container__left {
  font-weight: 600;
}
.order-container__container__order-container__right {
  font-style: italic;
}
.order-container__container__container-total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-container__container__container-total__left {
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: auto;
  min-width: 300px;
}

a {
  text-decoration: none;
  color: unset;
}

label {
  display: block;
}

html {
  font-size: 2vh;
}

@font-face {
  font-family: belligerent;
  src: url("../fonts/belligerent/belligerent-webfont.woff");
}
.header__logo__title {
  font-family: belligerent;
  font-size: 2rem;
}
.header__nav__panier {
  font-size: 2rem;
}
.header__nav__panier__article {
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
}
.header__nav__return-link {
  font-size: 1rem;
  font-family: belligerent;
}

.text-center {
  text-align: center !important;
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.form__data {
  margin: 0 5%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
}

input {
  border: 1px solid black;
}

.link {
  width: 80%;
  height: 8rem;
  margin: 1rem 0;
}
@media all and (max-width: 600px) {
  .link {
    height: 84vmin;
  }
}
.link__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #f3e9f1;
  height: inherit;
  width: 100%;
}
@media all and (max-width: 600px) {
  .link__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}
.link__card__image {
  height: 80%;
  margin: 0 1rem;
}
@media all and (max-width: 600px) {
  .link__card__image {
    height: unset;
    width: 80%;
    margin: 1rem 0;
  }
}
.link__card__description {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

tr {
  border: 2px solid #ddd;
  background: rgba(243, 233, 241, 0.5);
}

.cart {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.cart__head {
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.cart__head__row__heading {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-align: left;
  padding: 5px;
}
.cart__body__row__data {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
@media all and (max-width: 600px) {
  .cart__body__row__data {
    vertical-align: middle;
  }
}
.cart__body__row__data--euro::after {
  content: "€";
}
.cart__foot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}
.cart__foot__row__data {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 2px solid #ddd;
}
.cart-btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.cart-btn--continue {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
}
.cart-btn--empty {
  display: block;
  padding: 1% 3%;
  margin: 0 auto;
  font-size: 3vmax;
  font-weight: 600;
  line-height: 5vmax;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 1vmax;
  width: 70%;
}
.cart-product {
  margin-right: -15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.cart-product__container-1 {
  width: 20%;
}
@media all and (max-width: 600px) {
  .cart-product__container-1 {
    width: unset;
  }
}
.cart-product__container-1__image {
  display: block;
  width: 100% \9 ;
  max-width: 100%;
  height: auto;
}
.cart-product__container-2 {
  width: 80%;
  margin: 10px 10px;
}
@media all and (max-width: 600px) {
  .cart-product__container-2__heading {
    display: none;
  }
}
.cart-product__container-2__description {
  margin: 0 0 10px;
}
@media all and (max-width: 600px) {
  .cart-product__container-2__description {
    display: none;
  }
}
.cart-title--empty-cart {
  color: #8e5afc;
  margin: 15vmax auto;
  width: 80%;
  text-align: center;
}

.product-quantity {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.header {
  background: linear-gradient(#ffffff 7.5vh, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 2vmax 0vmax #48B;
  background-size: 4vmax 15vh;
  background-repeat: repeat-x;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header__logo__title {
  margin-left: 0.5rem;
}
.header__logo__image {
  height: 2rem;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header__nav__return-link {
  margin-right: 2rem;
}
.header__nav__panier {
  display: block;
  color: #8e5afc;
  position: relative;
}
.header__nav__panier__article {
  display: none;
  position: absolute;
  background-color: #d38e56;
  border-radius: 50%;
  top: 10%;
  color: #f3e9f1;
  min-width: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container--product {
  height: 90%;
}
@media all and (min-width: 1025px) {
  .container--product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
.container--home {
  min-width: 300px;
}
.container--order {
  height: 90%;
}
@media all and (min-width: 1025px) {
  .container--order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}

body {
  background: #48B;
}

/*# sourceMappingURL=style.css.map */
