.container{
    @include flex(center,center,column);
    &--product{
        height: 90%;
        @include big{
            @include flex(center,center,column);
            margin: auto;
        }
    }
    &--home{
        width: 100%;
    }
    &--order{
        height: 90%;
        @include big{
            @include flex(center,center,column);
            margin: auto;
        }
    }
}