.header{
    background: linear-gradient(#ffffff 7.5vh, rgba(255, 255, 255, 0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 2vmax 0vmax #48B;
    background-size: 4vmax 15vh;
    background-repeat: repeat-x;
    height: 10%;
    width: 100%;
    @include flex(space-around,center,row);

    &__logo{
        @include flex(center,center,row);

        &__title{
            margin-left: .5rem;
        }
        &__image{
            height: 2rem;
        }
    }
    &__nav{
        @include flex(center,center,row);
        &__return-link{
            margin-right: 2rem;
        }

        &__panier{
            display: block;
            color: $color-secondary;
            position: relative;

            &__article{
                display: none;
                position: absolute;
                background-color: $color-third;
                border-radius: 50%;
                top: 10%;
                color: $color-primary;
                min-width: 1rem;
            }    
        }
    }
}