.header{
    height: 8vh;
    @include flex(space-between,center,row);
    background: $color-primary;

    &__logo{
        @include flex(center,center,row);
        margin-left: 2rem;

        &__title{
            margin-left: .5rem;
        }
        &__image{
            width: 4rem;
            @include small{
            width: 4vmax;
            }
        }
    }
    &__nav{
        @include flex(center,center,row);
        &__return-link{
            margin-right: 2rem;
        }

        &__panier{
            display: block;
            color: $color-secondary;
            margin-right: 2rem;
            position: relative;

            &__article{
                display: block;
                position: absolute;
                background-color: $color-third;
                border-radius: 50%;
                top: 10%;
                color: $color-primary;
                min-width: 1.5vmax;
                height: 1.5vmax;
            }    
        }
    }
}