//--------init
html{
    font-size: 16px;
}


//----------font-face import

@font-face {
    font-family: belligerent;
    src: url("../fonts/belligerent/belligerent-webfont.woff");
}


//---------header
.header{
    &__logo{
        &__title{
            font-family: belligerent;
            font-size: 3rem;
            @include small{
            font-size: 3vmax;
            }
        }
    }
    &__nav{

        &__panier{
            font-size: 3rem;
            @include small{
            font-size: 3vmax;
            };

            &__article{
                font-size: 1.2vmax;
                line-height: 1.5vmax;
                text-align: center;
                @include small{
                    font-size: 1.2vmax;
                    line-height: 1.5vmax;
                }
            }
        }
        &__return-link{
            font-size: 2rem;
            font-family: belligerent;
        }
    }
}

.text-center{
    text-align: center !important;
}