//--------init
html{
    font-size: 2vh;
}


//----------font-face import

@font-face {
    font-family: belligerent;
    src: url("../fonts/belligerent/belligerent-webfont.woff");
}


//---------header
.header{
    &__logo{
        &__title{
            font-family: belligerent;
            font-size: 2rem;

        }
    }
    &__nav{

        &__panier{
            font-size: 2rem;


            &__article{
                font-size: .8rem;
                line-height: 1rem;
                text-align: center;
            }
        }
        &__return-link{
            font-size: 1rem;
            font-family: belligerent;
        }
    }
}

.text-center{
    text-align: center !important;
}