.product{
    height: 92vh;
    width: 100%;
    @include big{
        color: $color-primary;
        display: flex;
        justify-content: center;
    }

    &__wallpaper{
            height: 60%;
            width: 100%;
            @include big{
                height: 100%;
            }
    }
    &__description{
        height: 40%;
        margin: 0 5%;
        @include big{
                height: 20%;
        }
    }
    &__customer{
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 5%;
        @include big{
                height: 10%;
        }
        &__color{
            &__choice{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__quantity{
                margin-right: 2rem;
            }
        }
    }
    &__add-cart{
        height: 30%;
        background: $color-secondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        @include big{
            height: 10%;
            border-top-left-radius: unset;
            border-bottom-left-radius: unset;    
        }

        &__price{
            color: $color-primary;
            font-size: 2rem;
            margin-left: 5%;
        }
        &__button{
            cursor: pointer;
            background: $color-primary;
            width: 40%;
            height: 50%;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5%;
            border:1px solid $color-primary;
            cursor:pointer;
            font-family:belligerent,Arial, Helvetica, sans-serif;
            font-size:17px;
            padding:16px 31px;
            text-decoration:none;
            color: black;
            text-shadow:0px 1px 0px $color-primary;

            &:hover {
                background-color:$color-third;
            }
            &:active {
                position:relative;
                top:1px;
            }
            
        }
    }
}

.container--rounded{
    background-color: $color-primary;
    border-top-left-radius:1rem ;
    border-top-right-radius:1rem ;
    height: 40%;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include big{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center ;
        border-top-left-radius:unset ;
        border-top-right-radius:unset ;
        position: relative;
        height: 100%;
        bottom: unset;
        background-color: #d17e3c;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238e5afc'/%3E%3Cstop offset='1' stop-color='%23d17e3c'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23f3e9f1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f3e9f1' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        
    }
}